@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: green;
	font-family: 'Oswald', sans-serif;
}

.row {
	display: block;
	margin: 0;
	width: 100%;
}

.element-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	background-color: green;
}

.element {
	width: 100%;
	background-color: white;
	overflow: hidden;
	height: 100%;
}

.element > div {
	overflow-y: scroll;
}

.element > div::-webkit-scrollbar { width: 0 !important }

.header {
	width: 100%;
	font-size: 4vw;
}

.timer {
	font-size: 1.5vw;
	width: 100%;
}

.w {
	display: inline-block;
	float: left;
    margin: 0;
    padding: 0;
}

.cw {
	text-align: center;
    color: white;
}

.w > div {
	margin: 2px;
}

.third {
	width: 33.33%;
    width: calc(100% / 3);
}

.ninth {
	width: 11.11%;
    width: calc(100% / 9);
}

.half {
	width: 50%;
}

.almost-half {
	width: 44.44%;
	width: calc(100% * (4/9));
}

.full {
	width: 100%;
}

.score {
	background-color: gray;
}

.info {
	background-color: gray;
}

.new-submit {
	background-color: green;
}

.team-a:nth-of-type(even) {
	background-color: #B37373;
}

.team-a:nth-of-type(odd) {
	background-color: #6B4545;
}

.team-b:nth-of-type(even) {
	background-color: #94A3BA;
}

.team-b:nth-of-type(odd) {
	background-color: #768295;
}

.team-name-a {
	background-color: #801515;
}

.team-name-b {
	background-color: #4C668C;
}

.timestamp {
	background-color: gray;
	text-align: center;
}

.events {
	font-size: 2vw;
	height: 1%;
	background-color: white;
}

.new-info-input {
	height: 1%;
	background-color: white;
}

.time {
	background-color: green;
	text-align: center;
}

.new-event * {
	font-size: 3vw;
	font-family: 'Oswald', sans-serif;
}

input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	padding: 5px;
	appearance: none;
	box-shadow: none;
	border-radius: none;

	font-size: 3vw;
	font-family: 'Oswald', sans-serif;

	border: solid 5px #c9c9c9;
	transition: border 0.3s;
}

input:focus {
	outline: none;
}

input:not([type="number"]):focus,
input:not([type="number"]).focus {
	border: solid 5px #969696;
}

button {
	width: 100%;
	padding: 5px;
	margin: 0;
    color: #000;
    background: white;
    border-radius: 0px;
    border: solid 5px #c9c9c9;
    font-size: 3vw;
	font-family: 'Oswald', sans-serif;
}

.duration-input select {
	display: block;
	margin: 0;
	width: 100%;
	padding: 5px;
	
	font-size: 3vw;
	font-family: 'Oswald', sans-serif;

	border: solid 5px #c9c9c9;
	border-radius: 0;
	-webkit-appearance: none;
	appearance: none;
}

.duration-input select:focus {
	outline: none;
}

.players {
	padding: 0;
}

.players > * {
	margin-bottom: 4px;
}

.add-player {
	padding: 0;
	font-size: 2vw;
	color: white;
}

#add-player-a {
	background-color: #B37373;
}

#add-player-b {
	background-color: #94A3BA;
}

.player {
	position: relative;
	display: block;
	width: 100%;
}

.player:hover > .player-remove-button {display: block;}

.player-name {
	display: inline-block !important;
	width: 75% !important;
	padding: 5px !important;
	font-size: 2vw !important;
}

.player-number {
	width: 25%;
	display: inline-block;
	padding: 5px;
	margin: 0;
    color: #000;
    background: white;
    border-radius: 0px;
    border: solid 5px #c9c9c9;
    border-right: none;
    font-size: 2vw;
	font-family: 'Oswald', sans-serif;
}

.player-remove-button {
	border: solid 5px #c9c9c9;
	position: absolute;
	right: 0;
	top: 0;
	background-color: DarkRed;
	color: white;
	font-size: 3vw;
	padding: 5px;
	display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (min-width: 768px) {
	.main {
		display: flex; 
		justify-content: space-between;
	}

	.element-wrapper {
		margin: 3px;
	}
}

@media (max-width: 767px) {

	.element-wrapper {
		margin-bottom: 3px;
	}

	.header {
		font-size: 7vw;
	}

	.timer {
		font-size: 3vw;
	}

	.events {
		font-size: 4.5vw;
	}
}